@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Target scrollbar for WebKit browsers */
  ::-webkit-scrollbar {
    width: 8px; /* Adjust width as needed */
    height: 8px; /* Adjust height for horizontal scrollbars */
  }

  /* Target scrollbar track (background) */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Adjust transparency */
  }

  /* Target scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #71797E; /* Adjust color */
    border-radius: 0.25rem; /* Add rounded corners */
    margin:1rem;
  }
}
